@import "base/variables";
@import "base/mixins";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/reasons";
@import "blocks/app";
@import "blocks/auto";
@import "blocks/require";
@import "blocks/world";
@import "blocks/footer";
@import "blocks/general";

html{
    box-sizing: border-box;
}

body{
	font-family: "Roboto";
	line-height: 1;
}

*, *::before, ::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


@import "base/media";