.auto {
	position: relative;
	text-align: center;
	font-size: 17px;
	color: #fff;
	height: 897px;
	padding-top: 65px;
	background: url('../images/bg/auto.jpg') center center/cover no-repeat;

	span {
		background-color: #fff;
		color: #000;
	}

	
	&__car-text {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 25px);
	}
	
	&__car-title {
		font-size: 38px;
		margin-bottom: 15px;
	}

	&__car-subtitle {
		color: #000;
		text-transform: uppercase;
		letter-spacing: -0.5px;
	}
	&__descr {
		color: #222222;
		font-weight: 300;
		line-height: 1.5;
	}

}