.advantages {
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-align: center;

	span {
		padding: 7px 11px;
	}
}


.hamburger{
	display: none;
}



.title {
	margin-bottom: 17px;
	text-align: center;
	@include adaptiv-font (38, 19)
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle {
	@include adaptiv-font (17, 14)
	font-weight: 400;
	text-align: center;
	margin-bottom: 32px;
}


.xs-visible {
	display: none;
}