.header {
	position: relative;

	&-bottom {
		height: 84px;
		background-color: rgba(0, 0, 0, .6);
		padding-top: 22px;
		position: absolute;
		width: 100%;
		top: 50px;
		color: #ffffff;
		z-index: 1;

		&__logo {
			max-width: 100%;
			margin-bottom: 6px;
		}

		&__official {
			opacity: 0.5;
			font-size: 13px;
			font-weight: 100;
		}

		&__call {
			font-size: 12px;
			font-weight: 300;
			text-align: right;
			margin-bottom: 8px;
		}

		&__phone {
			display: block;
			font-size: 22px;
			text-transform: uppercase;
			text-align: right;
			color: #fff;
		}
	}
}




.menu {
	background-color: #212121;
	height: 50px;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2;
	width: 100%;

	&__link {
		color: #fff;

		&:hover {
			text-decoration: none;
			color: $ne-main-color;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		border-right: 2px dotted rgb(0, 0, 0);
		padding-right: 38px;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;

		&:last-child {
			border-right: none;
		}
	}
}



.hamburger {
	display: none;
}