.header {
	position: relative;

	&-bottom {
		display: flex;
		align-items: center;
		height: 84px;
		background-color: rgba(0, 0, 0, .6);
		position: absolute;
		width: 100%;
		top: 50px;
		color: #ffffff;
		z-index: 1;

		&__wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo{
			margin-left: 15px;
		}
		&__logo-link{
			display: block;
			margin-bottom: 6px;
		}

		&__official {
			opacity: 0.5;
			font-size: 13px;
			font-weight: 100;
		}

		&__call {
			font-size: 12px;
			font-weight: 300;
			margin-bottom: 8px;
			text-align: right;
		}

		&__phone {
			display: block;
			font-size: 22px;
			text-transform: uppercase;
			color: #fff;
		}
	}
}

.call{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 30px;
	&__wrapper{
		display: flex;
	}
}



.menu {
	background-color: #212121;
	height: 50px;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2;
	width: 100%;

	&__link {
		color: #fff;

		&:hover {
			text-decoration: none;
			color: $ne-main-color;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		border-right: 2px dotted rgb(0, 0, 0);
		padding-right: 38px;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;

		&:last-child {
			border-right: none;
		}
	}
}



.hamburger {
	display: none;
}