@media (max-width: 1200px) {
	.menu__item {
		padding-right: 22px;
	}

	.promo {
		&__title {
			font-size: 55px;
		}

		&__subtitle {
			font-size: 33px;
		}
	}

	.app__card {
		width: 300px;
	}

	.store-icon {
		display: flex;
		margin-bottom: 7px;
	}

	.reasons__card {
		&-circle {
			width: 104px;
			height: 104px;
			margin-right: 12px;
		}
	}
}

@media (max-width: 991px) {
	.auto {
		img {
			width: 100%;
		}
	}

	.header-bottom {
		&__phone {
			font-size: 20px;
		}

		&__logo {
			margin-left: 0;
		}
	}

	.promo {
		&__title {
			font-size: 50px;
		}

		&__subtitle {
			font-size: 30px;
		}
	}

	.call {
		margin-right: 10px;
	}


	.require {
		&__item {
			line-height: 24px;
			margin-bottom: 4px;
			font-size: 15px;
			font-weight: 300;
		}

		&__list-title {
			font-size: 19px;
		}
	}

	.reasons__card {
		display: flex;
		flex-direction: column;

		&-circle {
			margin-bottom: 10px;
			width: 113px;
			height: 113px;
		}
	}

	.social-icons-circle {
		height: 27px;
		width: 27px;
		margin-right: 5px;
	}
}

@media (max-width: 767px) {
	.reasons__card {
		display: flex;
		flex-direction: row;
	}

	.app__card {
		width: 240px;
		height: 240px;
	}

	.app__text {
		font-size: 18px;
	}

	.title {
		font-size: 35px;
	}

	.auto__car-title {
		font-size: 38px;
		margin-bottom: 3px;
	}

	.auto {
		height: 780px;
	}

	.footer {
		display: flex;
		flex-direction: column;

	}
	.store-icon {
		display: inline-block;
	}

}

@media (max-width: 575px) {}