@media (max-width: 1200px) {
	.menu__item {
		padding-right: 22px;
	}

	.promo {
		&__title {
			font-size: 55px;
		}

		&__subtitle {
			font-size: 33px;
		}
	}

	.store-icon {
		display: flex;
		margin-bottom: 7px;
	}

	.reasons__card {
		&-circle {
			width: 104px;
			height: 104px;
			margin-right: 12px;
		}
	}
}

@media (max-width: 991px) {
	.auto {
		img {
			width: 100%;
		}
	}



	.menu__item {
		padding-right: 8px;
		font-size: 13px;
		font-weight: 400;
	}

	.header-bottom {
		&__phone {
			font-size: 20px;
		}

		&__logo {
			margin-left: 0;
		}
	}

	.promo {
		&__title {
			font-size: 50px;
		}

		&__subtitle {
			font-size: 30px;
		}
	}

	.call {
		margin-right: 10px;
	}


	.require {
		&__item {
			line-height: 24px;
			margin-bottom: 4px;
			font-size: 15px;
			font-weight: 300;
		}

		&__list-title {
			font-size: 19px;
		}
	}

	.reasons__card {
		display: flex;
		flex-direction: column;

		&-circle {
			margin-bottom: 10px;
			width: 113px;
			height: 113px;
		}
	}

	.social-icons-circle {
		height: 27px;
		width: 27px;
		margin-right: 5px;
	}
}

@media (max-width: 767px) {
	.menu {
		&__list {
			position: fixed;
			top: 0;
			left: -100%;
			width: 50%;
			height: 100vh;
			flex-direction: column;
			background-color: rgba(0, 0, 0, 0.637);
			align-items: center;
			justify-content: center;
			transition: 0.5s all;

			&_active {
				left: 0;
			}
		}


		&__item {
			padding-right: 0;
			border: 0;
			margin-bottom: 25px;
			display: block;
		}

		&__link {
			display:block;
			font-size: 20px;
			width: 100%;
		}
	}


	.header-bottom {
		height: 98px;
	}


	.container {
		max-width: 700px;
	}

	.call__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header-bottom__call {
		display: none;
	}

	.header-bottom__phone {
		margin-bottom: 10px;
	}

	.hamburger {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 28px;

		span {
			display: block;
			height: 3px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 6px;
			transition: 0.5s all;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&_active {
			span {
				margin-bottom: -3px;

				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}

	.promo__subtitle {
		font-size: 28px;
	}

	.footer__nav-wrapper {
		position: static;
		left: auto;
		transform: none;
		order: -1;
		padding: 20px 0 20px 0;
	}

	.store-icon {
		display: inline-block;

	}

	.social-icons {
		margin-bottom: 20px;
	}

	.reasons__card {
		display: flex;
		flex-direction: row;
	}

	.app__card {
		width: 260px;
		height: 220px;
	}

	.app__text {
		font-size: 18px;
	}

	.title {
		font-size: 35px;
	}

	.auto__car-title {
		font-size: 38px;
		margin-bottom: 3px;
	}

	.auto {
		height: 820px;
	}

	.footer {
		display: flex;
		flex-direction: column;

	}



}

@media (max-width: 575px) {
	.promo__title {
		line-height: 50px;
	}

	.promo__subtitle {
		font-size: 20px;
	}

	.header-bottom {
		height: 74px;
	}

	.header-bottom__official {
		display: none;
	}

	.header-bottom__phone {
		font-size: 16px;
	}
	.promo {
		height: 400px;

	}

	.reasons__card {
		flex-direction: column;
	}

	.logo {
		width: 130px;
	}

	.header-bottom__phone {
		margin-bottom: 3px;
	}

	.button_header {
		width: 154px;
		height: 29px;
	}

	.promo__descr {
		display: none;
	}

	.promo__title {
		font-size: 30px;
		line-height: 35px;
	}
	.promo__subtitle {
		font-size: 20px;
		line-height: 25px;
	}
}