@media (max-width: 1200px) {
	.menu__item {
		padding-right: 22px;
	}

	.promo {
		&__title {
			font-size: 55px;
		}

		&__subtitle {
			font-size: 33px;
		}
	}

	.store-icon {
		display: flex;
		margin-bottom: 7px;
	}

	.reasons__card {
		&-circle {
			width: 104px;
			height: 104px;
			margin-right: 12px;
		}
	}
}

@media (max-width: 991px) {
	.auto {
		img {
			width: 100%;
		}
	}



	.menu__item {
		padding-right: 8px;
		font-size: 13px;
		font-weight: 400;
	}

	.header-bottom {
		&__phone {
			font-size: 20px;
		}

		&__logo {
			margin-left: 0;
		}
	}

	.promo {
		&__title {
			font-size: 50px;
		}

		&__subtitle {
			font-size: 30px;
		}
	}

	.call {
		margin-right: 10px;
	}


	.require {
		&__item {
			line-height: 24px;
			margin-bottom: 4px;
			font-size: 15px;
			font-weight: 300;
		}

		&__list-title {
			font-size: 19px;
		}
	}

	.reasons__card {
		display: flex;
		flex-direction: column;

		&-circle {
			margin-bottom: 10px;
			width: 113px;
			height: 113px;
		}
	}

	.social-icons-circle {
		height: 27px;
		width: 27px;
		margin-right: 5px;
	}
}

@media (max-width: 767px) {
	.header-bottom {
		height: 98px;
	}


	.container {
		max-width: 700px;
	}

	.call__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header-bottom__call{
		display: none;
	}

	.header-bottom__phone{
		margin-bottom: 10px;
	}


	.menu__item {
		display: none;
	}

	.hamburger {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 28px;

		span {
			display: block;
			height: 3px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 6px;
		}
		&_active{
			
		}
	}

	.promo__subtitle {
		font-size: 28px;
	}

	.footer__nav-wrapper {
		position: static;
		left: auto;
		transform: none;
		order: -1;
		padding: 20px 0 20px 0;
	}

	.store-icon {
		display: inline-block;

	}

	.social-icons {
		margin-bottom: 20px;
	}

	.reasons__card {
		display: flex;
		flex-direction: row;
	}

	.app__card {
		width: 260px;
		height: 220px;
	}

	.app__text {
		font-size: 18px;
	}

	.title {
		font-size: 35px;
	}

	.auto__car-title {
		font-size: 38px;
		margin-bottom: 3px;
	}

	.auto {
		height: 780px;
	}

	.footer {
		display: flex;
		flex-direction: column;

	}


}

@media (max-width: 575px) {}